/*sepearte css file for other journals page,
to prevent styles from clashing*/

* {
	font-size: small;
	font-family: 'Playfair Display';
}
header {
	margin: 0;
	padding: 0.5% 0;
	background-color: 524386;
}
.main { margin-top: 5%; }
.header {
	color: #000;
	opacity: 0.8;
}
.header .title {
	font-size: 3rem;
	font-weight: bolder;
}
.header .btn {
	border: 1px solid black;
	border-radius: 10px;
}
section {
	margin-bottom: 1rem;
}
section h2 {
	color: #000;
	opacity: 0.8;
}
section p {
	color: #7a7a7a;
}
section img {
	margin-top: 3rem;
}
.by {
	margin-top: -1%;
}
.by .left-span {
	color: #000;
	font-weight: bolder;
}
.by .pull-right {
	color: #3c3c3c;
}
#left-div i {
	color: tomato;
}
#left-div ul {
	list-style-type: none;
	margin-left: 2rem;
}
#left-div > p {
	margin-top: 3rem;
}
li a {
	color: #000;
	font-size: 20px;
}
figcaption {
	color: #474747;
	padding-top: 2rem;
	font-size: 24px;
}
figcaption span {
	opacity: 0.6;
	font-size: inherit;
}
#signout {
	font-size: large;
	padding-top: 2rem;
}
#signout a {
	color: #9d9d9d;
}

#right-div {
	padding-left: 5%;
}
#following {
	border-bottom: 1px solid #4f4f4f;
	display: inline-block; 
	padding-bottom: 1%;
}
#hr { margin-top: -1rem; }