.editor{
    width:100%;
    min-height: 15rem;
    margin: 2rem;
    padding: 1rem;
    font-size: 1.2rem;
    box-shadow: 0 .1rem .4rem rgba(0,0,0,0.03);
    border: none;
    overflow-y: auto;
    font-size: 1.4rem;
    font-weight: 600;
    margin: 0 auto;
}
.editor:focus {
    outline: none;
}
.toolbar{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(20px,40px));
    color: rgb(0, 0, 0);
    grid-gap: 1rem;
    padding: 1rem;
    justify-content: center;
    align-items:center;
    opacity: 0;
    transition: all 0.5s;
}
.tool{
    border: none;
    padding: 1rem;
    background-color: rgba(0,0,0,0.03);
} 
.status-area {
    border-radius: 15px;
    outline: none;
}
.form-control {
    outline: none;
    font-weight: bold;
}
